openapi: 3.0.1
info:
  title: Seg's Business Hub API
  description: Este projeto implementa a arquitetura padrão de desenvolvimento do Seg's
  contact:
    name: Desenvolvimento Seg's
    url: segs.app.br
    email: desenvolvimento@segalas.com.br
servers:
  - url: 'http://hmg-api.segs.app.br/ecommerce'
    description: Generated server url
tags:
  - name: Assistant API
    description: API used by assistant
  - name: Authentication API
    description: API for authentication
paths:
  /authentication:
    post:
      tags:
        - Authentication API
      description: User login based on credentials
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginCredentials'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /assistant/product-price:
    get:
      tags:
        - Assistant API
      operationId: getSpecificProductPrices_1
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: sort_by_column
          in: query
          required: false
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedListProductPriceDto'
