openapi: 3.0.1
info:
  title: Seg's Business Hub API
  description: Este projeto implementa a arquitetura padrão de desenvolvimento do Seg's
  contact:
    name: Desenvolvimento Seg's
    url: segs.app.br
    email: desenvolvimento@segalas.com.br
servers:
  - url: 'http://hmg-api.segs.app.br/ecommerce'
    description: Generated server url
tags:
  - name: Assistant API
    description: API used by assistant
  - name: Authentication API
    description: API for authentication

paths:
  /authentication:
    post:
      tags:
        - Authentication API
      description: User login based on credentials
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginCredentials'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoginResponse'

  /assistant/product-price:
    get:
      tags:
        - Assistant API
      operationId: getSpecificProductPrices_1
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: sort_by_column
          in: query
          required: false
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedListProductPriceDto'
      security:
        - bearerAuth: []

components:
  schemas:
    LoginCredentials:
      type: object
      properties:
        username:
          type: string
        password:
          type: string

    LoginResponse:
      type: object
      properties:
        token:
          type: string
        changePasswordWarning:
          type: string

    PagedListProductPriceDto:
      type: object
      properties:
        page:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProductPriceDto'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int64
        lastPage:
          type: boolean

    ProductPriceDto:
      type: object
      properties:
        name:
          type: string
        brand:
          type: string
        price:
          type: string
        code:
          type: string
        lastPurchaseDate:
          type: string
          format: date
        availablePackages:
          type: array
          items:
            type: string

    RequestCartItemDeletionDto:
      type: object
      properties:
        productCode:
          type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
